.swatches-variants-wrapper .variants-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.swatches-variants-wrapper .variant-container:not(:last-child) {
  margin-bottom: 30px;
}

.swatches-variants-wrapper .variants-wrapper .image-variant {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid transparent;
  position: relative;
}
.swatches-variants-wrapper .variants-wrapper .image-variant.disabled {
  opacity: 0.4;
  border: 2px solid black;
}
.swatches-variants-wrapper .variants-wrapper .image-variant.disabled:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background: black;
  transform: rotate(45deg);
  left: 50%;
}

.swatches-variants-wrapper .variants-wrapper .image-variant.active {
  border: 2px solid black;
}
.swatches-variants-wrapper .variants-wrapper .color-variant {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  display: block;
  border: 2px solid transparent;
  position: relative;
}
.swatches-variants-wrapper .variants-wrapper .color-variant.disabled {
  border: 2px solid black;
  opacity: 0.4;
}
.swatches-variants-wrapper .variants-wrapper .color-variant.disabled:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background: black;
  transform: rotate(45deg);
  left: 50%;
}

.swatches-variants-wrapper .variants-wrapper .color-variant.active {
  border: 2px solid black;
}

.swatches-variants-wrapper .variants-wrapper .text-variant {
  cursor: pointer;
  display: flex;
  border: 2px solid black;
  height: 40px;
  min-width: 40px;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.swatches-variants-wrapper .variants-wrapper .text-variant.disabled:before {
  content: "";
  position: absolute;
  width: 2px;
  height: calc(100% + 20px);
  background: black;
  transform: rotate(45deg);
  left: 50%;
}

.swatches-variants-wrapper .variants-wrapper .text-variant.active {
  background: black;
}
.swatches-variants-wrapper .variants-wrapper .text-variant p {
  margin: 0;
}
.swatches-variants-wrapper .variants-wrapper .text-variant.active p {
  color: white;
}
.swatches-variants-wrapper .variants-wrapper .text-variant.disabled {
  background: transparent;
  opacity: 0.4;
}
.swatches-variants-wrapper .variants-wrapper .text-variant.disabled p {
  color: black;
}
.swatches-variants-wrapper .variants-wrapper .image-variant img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
